---
AccessModifierOffset: '-4'
AlignConsecutiveAssignments: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: 'true'
IncludeBlocks: Regroup
IndentWidth: '4'
SortIncludes: 'true'
SpaceBeforeCpp11BracedList: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: ForIndentation

...
